networks:
  dawarich:
  proxy:
    external: true
services:
  dawarich_redis:
    image: redis:8.4-alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d
    container_name: dawarich_redis
    command: redis-server
    networks:
      - dawarich
    volumes:
      - dawarich_shared:/data
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  dawarich_db:
    image: postgis/postgis:17-3.5-alpine@sha256:c4aab7d4fbfcfc96f9b14216f0846cd0b55ebcbada378534258a9d807f30faec
    shm_size: 1G
    container_name: dawarich_db
    volumes:
      - dawarich_db_data:/var/lib/postgresql/data
      - dawarich_shared:/var/shared
    networks:
      - dawarich
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: tUbZfrLsWVPQmEFn_KqHHJA.UzH8
      POSTGRES_DB: dawarich
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d dawarich" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    # command: postgres -c config_file=/etc/postgresql/postgresql.conf # Use custom config, uncomment if you want to use a custom config
  dawarich_app:
    image: freikin/dawarich:1.0.4@sha256:69d9c81d08886c83c0259dbe03ab9b27330fceee25d890725dc1347382f304e0
    container_name: dawarich_app
    volumes:
      - dawarich_public:/var/app/public
      - dawarich_watched:/var/app/tmp/imports/watched
      - dawarich_storage:/var/app/storage
      - dawarich_db_data:/dawarich_db_data
    networks:
      - dawarich
      - proxy
    stdin_open: true
    tty: true
    entrypoint: web-entrypoint.sh
    command: ['bin/rails', 'server', '-p', '3000', '-b', '::']
    restart: on-failure
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dawarich.entryPoints=websecure"
      - "traefik.http.routers.dawarich.tls.certResolver=production"
      - "traefik.http.routers.dawarich.rule=Host(`dawarich.$DOMAIN`)"
      - "traefik.http.routers.dawarich.tls.domains[0].main=$DOMAIN"
      - "traefik.http.routers.dawarich.tls.domains[0].sans=*.$DOMAIN"
      - "traefik.http.services.dawarich.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
    environment:
      RAILS_ENV: production
      REDIS_URL: redis://dawarich_redis:6379
      DATABASE_HOST: dawarich_db
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: tUbZfrLsWVPQmEFn_KqHHJA.UzH8
      DATABASE_NAME: dawarich
      MIN_MINUTES_SPENT_IN_CITY: 60
      APPLICATION_HOSTS: dawarich.$DOMAIN
      TIME_ZONE: Europe/Berlin
      APPLICATION_PROTOCOL: http
      PROMETHEUS_EXPORTER_ENABLED: "false"
      PROMETHEUS_EXPORTER_HOST: 0.0.0.0
      PROMETHEUS_EXPORTER_PORT: 9394
      SECRET_KEY_BASE: "CHANGE_ME"
      RAILS_LOG_TO_STDOUT: "true"
      SELF_HOSTED: "true"
      STORE_GEODATA: "true"
      OIDC_CLIENT_ID: $OIDC_CLIENT_ID
      OIDC_CLIENT_SECRET: $OIDC_CLIENT_SECRET
      OIDC_ISSUER: $OIDC_ISSUER
      OIDC_REDIRECT_URI: $OIDC_REDIRECT_URI
      ALLOW_EMAIL_PASSWORD_REGISTRATION : $ALLOW_EMAIL_PASSWORD_REGISTRATION
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO - http://127.0.0.1:3000/api/v1/health | grep -q '\"status\"\\s*:\\s*\"ok\"'" ]
      interval: 10s
      retries: 30
      start_period: 30s
      timeout: 10s
    depends_on:
      dawarich_db:
        condition: service_healthy
        restart: true
      dawarich_redis:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: '0.50'    # Limit CPU usage to 50% of one core
          memory: '4G'    # Limit memory usage to 4GB
  dawarich_sidekiq:
    image: freikin/dawarich:1.0.4@sha256:69d9c81d08886c83c0259dbe03ab9b27330fceee25d890725dc1347382f304e0
    container_name: dawarich_sidekiq
    volumes:
      - dawarich_public:/var/app/public
      - dawarich_watched:/var/app/tmp/imports/watched
      - dawarich_storage:/var/app/storage
    networks:
      - dawarich
    stdin_open: true
    tty: true
    entrypoint: sidekiq-entrypoint.sh
    command: ['sidekiq']
    restart: on-failure
    environment:
      RAILS_ENV: production
      REDIS_URL: redis://dawarich_redis:6379
      DATABASE_HOST: dawarich_db
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: tUbZfrLsWVPQmEFn_KqHHJA.UzH8
      DATABASE_NAME: dawarich
      APPLICATION_HOSTS: localhost,::1,127.0.0.1
      BACKGROUND_PROCESSING_CONCURRENCY: 10
      APPLICATION_PROTOCOL: http
      PROMETHEUS_EXPORTER_ENABLED: "false"
      PROMETHEUS_EXPORTER_HOST: dawarich_app
      PROMETHEUS_EXPORTER_PORT: 9394
      SECRET_KEY_BASE: "CHANGE_ME"
      RAILS_LOG_TO_STDOUT: "true"
      SELF_HOSTED: "true"
      STORE_GEODATA: "true"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
    healthcheck:
      test: [ "CMD-SHELL", "pgrep -f sidekiq" ]
      interval: 10s
      retries: 30
      start_period: 30s
      timeout: 10s
    depends_on:
      dawarich_db:
        condition: service_healthy
        restart: true
      dawarich_redis:
        condition: service_healthy
        restart: true
      dawarich_app:
        condition: service_healthy
        restart: true

volumes:
  dawarich_db_data:
  dawarich_shared:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/docker_volumes/dawarich/shared"
  dawarich_public:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/docker_volumes/dawarich/public"
  dawarich_watched:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/docker_volumes/dawarich/watched"
  dawarich_storage:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/docker_volumes/dawarich/storage"