---
volumes:
  teamspeak_data:

services:
  teamspeak:
    image: teamspeak:3.13.7
    restart: always
    ports:
      - "10011:10011/tcp"
      - "1337:1337/udp"
      - "30033:30033/tcp"
      - "9987:9987/udp"
    environment:
      TS3SERVER_LICENSE: accept
      TIME_ZONE: Europe/Berlin
    volumes:
      - teamspeak_data:/var/ts3server/
