services:
  floatplane-downloader:
    image: inrix/floatplane-downloader:dev@sha256:f68ea99a46c9c11af6608dba43f090aa1f063135f812f0ff3489f134d01827e0
    container_name: floatplane-downloader
    environment:
      - headless=true
      - username=$username
      - password=$password
      - token=$token
    volumes:
      - floatplane-downloader:/fp/db
      - media_floatplane_videos:/fp/videos
    restart: unless-stopped

volumes:
  floatplane-downloader: {}
  media_floatplane_videos:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/media/floatplane_videos"
