services:
  floatplane-downloader:
    image: inrix/floatplane-downloader:dev@sha256:ab886a1e05718dfc2d7a493cbb90be04b20c4d94f40604539fcde934b812846d
    container_name: floatplane-downloader
    environment:
      - headless=true
      - username=$username
      - password=$password
      - token=$token
    volumes:
      - floatplane-downloader:/fp/db
      - media_floatplane_videos:/fp/videos
    restart: unless-stopped

volumes:
  floatplane-downloader: {}
  media_floatplane_videos:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/media/floatplane_videos"
