---
networks:
  proxy:
    external: true

volumes:
  homepage:

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.6.1@sha256:8c7ec6a3c9094af7ac0686aa361fed3129264a8ed2c17594d5114a5e8342f7c9
    container_name: homepage
    volumes:
      - homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks:
      - proxy
    environment:
      HOMEPAGE_ALLOWED_HOSTS: $HOMEPAGE_ALLOWED_HOSTS
    labels:
      traefik.enable: "true"
      traefik.http.routers.homepage.entrypoints: "websecure"
      traefik.http.routers.homepage.rule: "Host(`home.$DOMAIN`)"
      traefik.http.routers.homepage.tls.domains[0].main: "$DOMAIN"
      traefik.http.routers.homepage.tls.domains[0].sans: "*.$DOMAIN"
      traefik.http.routers.homepage.tls: "true"
      traefik.http.routers.homepage.tls.certresolver: "production"
      traefik.docker.network: "proxy"
