---
services:
  broker:
    image: docker.io/library/redis:8.4.0@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae
    restart: unless-stopped
    networks:
      - internal
    volumes:
      - redisdata:/data

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.19.6@sha256:719a4e4c4314b417646b00e58bfbfbe55e4cb59017a2dec1533e96d8deb66ec1
    restart: unless-stopped
    container_name: "webserver"
    depends_on:
      - broker
      - gotenberg
      - tika
    networks:
      - internal
      - proxy
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - export:/usr/src/paperless/export
      - consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_URL: https://$DOMAIN
      PAPERLESS_SECRET_KEY: $PAPERLESS_SECRET_KEY
      PAPERLESS_TIME_ZONE: Europe/Berlin
      PAPERLESS_OCR_LANGUAGES: deu
      PAPERLESS_OCR_LANGUAGE: deu
      PAPERLESS_OCR_ROTATE_PAGES: 2
      PAPERLESS_CONSUMER_ENABLE_BARCODES: true
      PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE: true
      PAPERLESS_CONSUMER_BARCODE_SCANNER: ZXING
      PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
      PAPERLESS_CONSUMER_POLLING: 15
      PAPERLESS_CONSUMER_BARCODE_UPSCALE: 1.75
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: $PAPERLESS_SOCIALACCOUNT_PROVIDERS
      PAPERLESS_ALLOWED_HOSTS: $PAPERLESS_ALLOWED_HOSTS
      PAPERLESS_CSRF_TRUSTED_ORIGINS: $PAPERLESS_CSRF_TRUSTED_ORIGINS
      PAPERLESS_FILENAME_FORMAT_REMOVE_NONE: $PAPERLESS_FILENAME_FORMAT_REMOVE_NONE
      PAPERLESS_ENABLE_FLOWER: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.paperless-ngx.entrypoints: "websecure"
      traefik.http.routers.paperless-ngx.rule: "Host(`paperless-ngx.$DOMAIN`)"
      traefik.http.routers.paperless-ngx.tls: "true"
      traefik.http.routers.paperless-ngx.tls.certresolver: "production"
      traefik.http.routers.paperless-ngx.tls.domains[0].main: "$DOMAIN"
      traefik.http.routers.paperless-ngx.tls.domains[0].sans: "*.$DOMAIN"
      traefik.docker.network: "proxy"
      homepage.name: paperless-ngx
      homepage.group: Services
      homepage.icon: paperless-ngx
      homepage.href: https://paperless-ngx.$DOMAIN
      homepage.description: paperless-ngx
      homepage.widget.type: paperlessngx
      homepage.widget.url: https://paperless-ngx.$DOMAIN
      homepage.widget.username: $HOMEPAGE_USERNAME
      homepage.widget.password: $HOMEPAGE_PASSWORD

  paperless-ai:
    image: clusterzx/paperless-ai:3.0.9@sha256:2b65888163fd59716f1c8285b31c5bd0b30c9c3c192c42b516688e3887d4ba60
    container_name: paperless-ai
    networks:
      - internal
      - proxy
    restart: unless-stopped
    depends_on:
      - webserver
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges=true
    environment:
      - PUID=1000
      - PGID=1000
      - PAPERLESS_AI_PORT=3000
    volumes:
      - data_ai:/app/data
    labels:
      traefik.enable: "true"
      traefik.http.routers.paperless-ai.entrypoints: "websecure"
      traefik.http.routers.paperless-ai.rule: "Host(`paperless-ai.$DOMAIN`)"
      traefik.http.routers.paperless-ai.tls: "true"
      traefik.http.routers.paperless-ai.tls.certresolver: "production"
      traefik.http.routers.paperless-ai.tls.domains[0].main: "$DOMAIN"
      traefik.http.routers.paperless-ai.tls.domains[0].sans: "*.$DOMAIN"
      traefik.docker.network: "proxy"

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25.0@sha256:e304e45acee3c400f8ef76afa195c76b1d0eaf0ab6fe9651e305067ab6a1560c
    restart: unless-stopped
    networks:
      - internal
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: apache/tika:3.2.3.0-full@sha256:21d8052de04e491ccf66e8680ade4da6f3d453a56d59f740b4167e54167219b7
    restart: unless-stopped
    networks:
      - internal

volumes:
  data:
  data_ai:
  media:
  redisdata:
  export:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/docker_volumes/paperless_export"
  consume:
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=192.168.1.14,rw"
      device: ":/mnt/pool-main/docker_volumes/paperless_consume"

networks:
  internal:
  proxy:
    external: true
    
    
    