---
networks:
  proxy:
    external: true

services:
  portainer:
    container_name: "portainer"
    image: portainer/portainer-ee:2.36.0@sha256:fddc0444fca26eaa2e75181f0cdf7e90c043a97fface8b41b8895f3df502d8e7
    volumes:
        - data:/data
        - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    ports:
      - 9443:9443
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.rule=Host(`portainer.local.weigert.cc`)"
      - "traefik.http.routers.frontend.tls.domains[0].main=local.weigert.cc"
      - "traefik.http.routers.frontend.tls.domains[0].sans=*.local.weigert.cc"
      - "traefik.http.routers.frontend.service=frontend"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=production"
      - "traefik.http.services.frontend.loadbalancer.server.port=9443"
      - "traefik.http.services.frontend.loadbalancer.server.scheme=https"
      - "traefik.docker.network=proxy"

volumes:
  data:
