networks:
  proxy:
    external: true

volumes:
  zigbee2mqtt:

services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: ghcr.io/koenkk/zigbee2mqtt:2.8.0@sha256:89cf02f379aa743a68494388e3a26fba7b8c9101f8b452038cc07aeff3fc983c
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    environment:
      - TZ=Europe/Berlin
    labels:
      traefik.enable: "true"
      traefik.http.routers.zigbee2mqtt.entrypoints: "websecure"
      traefik.http.routers.zigbee2mqtt.rule: "Host(`zigbee2mqtt.$DOMAIN`)"
      traefik.http.routers.zigbee2mqtt.tls: "true"
      traefik.http.routers.zigbee2mqtt.tls.certresolver: "production"
      traefik.http.routers.zigbee2mqtt.tls.domains[0].main: "$DOMAIN"
      traefik.http.routers.zigbee2mqtt.tls.domains[0].sans: "*.$DOMAIN"
      traefik.http.services.zigbee2mqtt.loadbalancer.server.port: 8080
      traefik.docker.network: "proxy"