networks:
  proxy:
    external: true

volumes:
  zigbee2mqtt:
  grafana:

services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: ghcr.io/koenkk/zigbee2mqtt:2.7.0@sha256:7da30df2c3e53ea02e0bbce0241306358e946b2b5ce6ec02ecdf90be0a96c694
    restart: unless-stopped
    networks:
      - proxy
    volumes:
        - zigbee2mqtt:/app/data
        - /run/udev:/run/udev:ro
    environment:
        - TZ=Europe/Berlin
    labels:
      traefik.enable: "true"
      traefik.http.routers.zigbee2mqtt.entrypoints: "websecure"
      traefik.http.routers.zigbee2mqtt.rule: "Host(`zigbee2mqtt.$DOMAIN`)"
      traefik.http.routers.zigbee2mqtt.tls: "true"
      traefik.http.routers.zigbee2mqtt.tls.certresolver: "production"
      traefik.http.routers.zigbee2mqtt.tls.domains[0].main: "$DOMAIN"
      traefik.http.routers.zigbee2mqtt.tls.domains[0].sans: "*.$DOMAIN"
      traefik.http.services.zigbee2mqtt.loadbalancer.server.port: 8080
      traefik.docker.network: "proxy"